:host ::ng-deep .filters {
  margin-bottom: 16px;
}

.filter-actions {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.description {
  margin-top: 0;
}

.meta {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 4px 0;
}
